fastapi
uvicorn
numpy
faiss-cpu
openai
rank-bm25
scikit-learn
pydantic
python-dotenv

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
sentence-transformers==2.6.1
transformers==4.41.2